@font-face {
    src:url("/javascript/catFind/fonts/Righteous-Regular.ttf");
    font-family: "Righteous";
}

@font-face {
    src:url("/javascript/catFind/fonts/BMJUA_ttf.ttf");
    font-family: "jua";
}
@font-face {
    src:url("/javascript/catFind/fonts/BMHANNAAir_ttf.ttf");
    font-family: "hanna";
}
